_site/
.sass-cache/
.jekyll-metadata
_pdf
.DS_Store
.idea
vendor/
.bundle/

.vs/computationaldesign.github.io/v16/.suo

.vs/ProjectSettings.json

.vs/slnx.sqlite

.vs/VSWorkspaceState.json

houdini_files/voxel_grid/Analysis/sound_map_location_green.psd

houdini_files/voxel_grid/Analysis/sound_map_location_lightred.psd

houdini_files/voxel_grid/Analysis/sound_map_location_orange.psd

houdini_files/voxel_grid/Analysis/sound_map_location_red.psd

houdini_files/voxel_grid/Analysis/sound_map_location_yellow.psd

houdini_files/voxel_grid/Analysis/SunEarthTools_AnnualSunPath_2019_1575987141211.csv

houdini_files/voxel_grid/backup/voxel_grid_V_27-01_growth_agent_&_sun_envelope_bak1.hipnc

houdini_files/voxel_grid/brickgallery_almost_copied.hipnc

houdini_files/voxel_grid/brickgallery.hipnc

houdini_files/voxel_grid/Context/Buildings/9100_4380.obj

houdini_files/voxel_grid/Context/Buildings/9200_4370.obj

houdini_files/voxel_grid/Context/Buildings/9200_4380.obj

houdini_files/voxel_grid/Context/google_earth_site.png

houdini_files/voxel_grid/Context/Vegetation/9100_4380.obj

houdini_files/voxel_grid/Context/Vegetation/9200_4370.obj

houdini_files/voxel_grid/Context/Vegetation/9200_4380.obj

houdini_files/voxel_grid/CSV/analysis_weighing_extreme_1_high.csv

houdini_files/voxel_grid/CSV/analysis_weighing_extreme_2_low.csv

houdini_files/voxel_grid/CSV/analysis_weighing.csv

houdini_files/voxel_grid/CSV/function_info.csv

houdini_files/voxel_grid/CSV/function_info.xlsx

houdini_files/voxel_grid/CSV/function_relation_strength.csv

houdini_files/voxel_grid/CSV/README.txt

houdini_files/voxel_grid/CSV/spatial_configuration_old.csv

houdini_files/voxel_grid/CSV/spatial_configuration_ours.csv

houdini_files/voxel_grid/CSV/spatial_configuration.csv

houdini_files/voxel_grid/DistanceCalcs.hipnc

houdini_files/voxel_grid/growing_agent_drive.zip

houdini_files/voxel_grid/SunEarthTools_AnnualSunPath_2022_1670882506493 (1).csv

houdini_files/voxel_grid/voxel_cloud_V__road_removal_and_facade_detection.hipnc

houdini_files/voxel_grid/voxel_cloud_V_drafts_road_removal_and_face_detection.hipnc

houdini_files/voxel_grid/voxel_grid_on_map_recovered_recovered_recovered.hipnc

houdini_files/voxel_grid/voxel_grid_on_map_recovered_recovered.hipnc

houdini_files/voxel_grid/voxel_grid_on_map_recovered.hipnc

houdini_files/voxel_grid/voxel_grid_V_13-12-22.hipnc

houdini_files/voxel_grid/voxel_grid_V_21-01_growing_agent.hipnc

houdini_files/voxel_grid/voxel_grid_V_22-01.hipnc

houdini_files/voxel_grid/voxel_grid_V_27-01_growth_agent_&_sun_envelope.hipnc

houdini_files/voxel_grid/voxel_grid_V_27-01_growth_agent_&_sun_envelope.zip

houdini_files/voxel_grid/voxel_grid_V_27-01_growth_agent_&_sun_envelope/Analysis/sound_map_location_green.psd

houdini_files/voxel_grid/voxel_grid_V_27-01_growth_agent_&_sun_envelope/Analysis/sound_map_location_lightred.psd

houdini_files/voxel_grid/voxel_grid_V_27-01_growth_agent_&_sun_envelope/Analysis/sound_map_location_orange.psd

houdini_files/voxel_grid/voxel_grid_V_27-01_growth_agent_&_sun_envelope/Analysis/sound_map_location_red.psd

houdini_files/voxel_grid/voxel_grid_V_27-01_growth_agent_&_sun_envelope/Analysis/sound_map_location_yellow.psd

houdini_files/voxel_grid/voxel_grid_V_27-01_growth_agent_&_sun_envelope/Analysis/SunEarthTools_AnnualSunPath_2019_1575987141211.csv

houdini_files/voxel_grid/voxel_grid_V_27-01_growth_agent_&_sun_envelope/backup/voxel_grid_V_27-01_growth_agent_&_sun_envelope_bak1.hipnc

houdini_files/voxel_grid/voxel_grid_V_27-01_growth_agent_&_sun_envelope/backup/voxel_grid_V_27-01_growth_agent_&_sun_envelope_bak10.hipnc

houdini_files/voxel_grid/voxel_grid_V_27-01_growth_agent_&_sun_envelope/backup/voxel_grid_V_27-01_growth_agent_&_sun_envelope_bak11.hipnc

houdini_files/voxel_grid/voxel_grid_V_27-01_growth_agent_&_sun_envelope/backup/voxel_grid_V_27-01_growth_agent_&_sun_envelope_bak12.hipnc

houdini_files/voxel_grid/voxel_grid_V_27-01_growth_agent_&_sun_envelope/backup/voxel_grid_V_27-01_growth_agent_&_sun_envelope_bak13.hipnc

houdini_files/voxel_grid/voxel_grid_V_27-01_growth_agent_&_sun_envelope/backup/voxel_grid_V_27-01_growth_agent_&_sun_envelope_bak14.hipnc

houdini_files/voxel_grid/voxel_grid_V_27-01_growth_agent_&_sun_envelope/backup/voxel_grid_V_27-01_growth_agent_&_sun_envelope_bak15.hipnc

houdini_files/voxel_grid/voxel_grid_V_27-01_growth_agent_&_sun_envelope/backup/voxel_grid_V_27-01_growth_agent_&_sun_envelope_bak16.hipnc

houdini_files/voxel_grid/voxel_grid_V_27-01_growth_agent_&_sun_envelope/backup/voxel_grid_V_27-01_growth_agent_&_sun_envelope_bak17.hipnc

houdini_files/voxel_grid/voxel_grid_V_27-01_growth_agent_&_sun_envelope/backup/voxel_grid_V_27-01_growth_agent_&_sun_envelope_bak18.hipnc

houdini_files/voxel_grid/voxel_grid_V_27-01_growth_agent_&_sun_envelope/backup/voxel_grid_V_27-01_growth_agent_&_sun_envelope_bak19.hipnc

houdini_files/voxel_grid/voxel_grid_V_27-01_growth_agent_&_sun_envelope/backup/voxel_grid_V_27-01_growth_agent_&_sun_envelope_bak2.hipnc

houdini_files/voxel_grid/voxel_grid_V_27-01_growth_agent_&_sun_envelope/backup/voxel_grid_V_27-01_growth_agent_&_sun_envelope_bak20.hipnc

houdini_files/voxel_grid/voxel_grid_V_27-01_growth_agent_&_sun_envelope/backup/voxel_grid_V_27-01_growth_agent_&_sun_envelope_bak21.hipnc

houdini_files/voxel_grid/voxel_grid_V_27-01_growth_agent_&_sun_envelope/backup/voxel_grid_V_27-01_growth_agent_&_sun_envelope_bak22.hipnc

houdini_files/voxel_grid/voxel_grid_V_27-01_growth_agent_&_sun_envelope/backup/voxel_grid_V_27-01_growth_agent_&_sun_envelope_bak23.hipnc

houdini_files/voxel_grid/voxel_grid_V_27-01_growth_agent_&_sun_envelope/backup/voxel_grid_V_27-01_growth_agent_&_sun_envelope_bak24.hipnc

houdini_files/voxel_grid/voxel_grid_V_27-01_growth_agent_&_sun_envelope/backup/voxel_grid_V_27-01_growth_agent_&_sun_envelope_bak25.hipnc

houdini_files/voxel_grid/voxel_grid_V_27-01_growth_agent_&_sun_envelope/backup/voxel_grid_V_27-01_growth_agent_&_sun_envelope_bak26.hipnc

houdini_files/voxel_grid/voxel_grid_V_27-01_growth_agent_&_sun_envelope/backup/voxel_grid_V_27-01_growth_agent_&_sun_envelope_bak3.hipnc

houdini_files/voxel_grid/voxel_grid_V_27-01_growth_agent_&_sun_envelope/backup/voxel_grid_V_27-01_growth_agent_&_sun_envelope_bak4.hipnc

houdini_files/voxel_grid/voxel_grid_V_27-01_growth_agent_&_sun_envelope/backup/voxel_grid_V_27-01_growth_agent_&_sun_envelope_bak5.hipnc

houdini_files/voxel_grid/voxel_grid_V_27-01_growth_agent_&_sun_envelope/backup/voxel_grid_V_27-01_growth_agent_&_sun_envelope_bak6.hipnc

houdini_files/voxel_grid/voxel_grid_V_27-01_growth_agent_&_sun_envelope/backup/voxel_grid_V_27-01_growth_agent_&_sun_envelope_bak7.hipnc

houdini_files/voxel_grid/voxel_grid_V_27-01_growth_agent_&_sun_envelope/backup/voxel_grid_V_27-01_growth_agent_&_sun_envelope_bak8.hipnc

houdini_files/voxel_grid/voxel_grid_V_27-01_growth_agent_&_sun_envelope/backup/voxel_grid_V_27-01_growth_agent_&_sun_envelope_bak9.hipnc

houdini_files/voxel_grid/voxel_grid_V_27-01_growth_agent_&_sun_envelope/Context/Buildings/9100_4380.obj

houdini_files/voxel_grid/voxel_grid_V_27-01_growth_agent_&_sun_envelope/Context/Buildings/9200_4370.obj

houdini_files/voxel_grid/voxel_grid_V_27-01_growth_agent_&_sun_envelope/Context/Buildings/9200_4380.obj

houdini_files/voxel_grid/voxel_grid_V_27-01_growth_agent_&_sun_envelope/Context/google_earth_site.png

houdini_files/voxel_grid/voxel_grid_V_27-01_growth_agent_&_sun_envelope/Context/Vegetation/9100_4380.obj

houdini_files/voxel_grid/voxel_grid_V_27-01_growth_agent_&_sun_envelope/Context/Vegetation/9200_4370.obj

houdini_files/voxel_grid/voxel_grid_V_27-01_growth_agent_&_sun_envelope/Context/Vegetation/9200_4380.obj

houdini_files/voxel_grid/voxel_grid_V_27-01_growth_agent_&_sun_envelope/CSV/analysis_weighing_extreme_1_high.csv

houdini_files/voxel_grid/voxel_grid_V_27-01_growth_agent_&_sun_envelope/CSV/analysis_weighing_extreme_2_low.csv

houdini_files/voxel_grid/voxel_grid_V_27-01_growth_agent_&_sun_envelope/CSV/analysis_weighing.csv

houdini_files/voxel_grid/voxel_grid_V_27-01_growth_agent_&_sun_envelope/CSV/function_info.csv

houdini_files/voxel_grid/voxel_grid_V_27-01_growth_agent_&_sun_envelope/CSV/function_info.xlsx

houdini_files/voxel_grid/voxel_grid_V_27-01_growth_agent_&_sun_envelope/CSV/function_info2.csv

houdini_files/voxel_grid/voxel_grid_V_27-01_growth_agent_&_sun_envelope/CSV/function_relation_strength.csv

houdini_files/voxel_grid/voxel_grid_V_27-01_growth_agent_&_sun_envelope/CSV/README.txt

houdini_files/voxel_grid/voxel_grid_V_27-01_growth_agent_&_sun_envelope/CSV/spatial_configuration_old.csv

houdini_files/voxel_grid/voxel_grid_V_27-01_growth_agent_&_sun_envelope/CSV/spatial_configuration_ours.csv

houdini_files/voxel_grid/voxel_grid_V_27-01_growth_agent_&_sun_envelope/CSV/spatial_configuration.csv

houdini_files/voxel_grid/voxel_grid_V_27-01_growth_agent_&_sun_envelope/locatie rhino v2.obj

houdini_files/voxel_grid/voxel_grid_V_27-01_growth_agent_&_sun_envelope/locatie rhino.obj

houdini_files/voxel_grid/voxel_grid_V_27-01_growth_agent_&_sun_envelope/SunEarthTools_AnnualSunPath_2022_1670882506493 (1).csv

houdini_files/voxel_grid/voxel_grid_V_27-01_growth_agent_&_sun_envelope/voxel_grid_V_27-01_growth_agent_&_sun_envelope.hipnc

houdini_files/voxel_grid/voxel_grid_V_growing_agent_works_reduced_classes.hipnc

houdini_files/voxel_grid/voxel_grid_V_solar_envelope.hipnc

voxel_grid_V_30-01_growth_agent_\+_weights.rar

voxel_grid_V_30-01_growth_agent_\+_weights/voxel_grid_V_27-01_growth_agent_\+_weights/Analysis/sound_map_location_green.psd

voxel_grid_V_30-01_growth_agent_\+_weights/voxel_grid_V_27-01_growth_agent_\+_weights/Analysis/sound_map_location_lightred.psd

voxel_grid_V_30-01_growth_agent_\+_weights/voxel_grid_V_27-01_growth_agent_\+_weights/Analysis/sound_map_location_orange.psd

voxel_grid_V_30-01_growth_agent_\+_weights/voxel_grid_V_27-01_growth_agent_\+_weights/Analysis/sound_map_location_red.psd

voxel_grid_V_30-01_growth_agent_\+_weights/voxel_grid_V_27-01_growth_agent_\+_weights/Analysis/sound_map_location_yellow.psd

voxel_grid_V_30-01_growth_agent_\+_weights/voxel_grid_V_27-01_growth_agent_\+_weights/Analysis/SunEarthTools_AnnualSunPath_2019_1575987141211.csv

voxel_grid_V_30-01_growth_agent_\+_weights/voxel_grid_V_27-01_growth_agent_\+_weights/backup/voxel_grid_V_27-01_growth_agent_&_sun_envelope_bak1.hipnc

voxel_grid_V_30-01_growth_agent_\+_weights/voxel_grid_V_27-01_growth_agent_\+_weights/backup/voxel_grid_V_27-01_growth_agent_&_sun_envelope_bak2.hipnc

voxel_grid_V_30-01_growth_agent_\+_weights/voxel_grid_V_27-01_growth_agent_\+_weights/backup/voxel_grid_V_27-01_growth_agent_&_sun_envelope_bak3.hipnc

voxel_grid_V_30-01_growth_agent_\+_weights/voxel_grid_V_27-01_growth_agent_\+_weights/backup/voxel_grid_V_27-01_growth_agent_&_sun_envelope_bak4.hipnc

voxel_grid_V_30-01_growth_agent_\+_weights/voxel_grid_V_27-01_growth_agent_\+_weights/Context/Buildings/9100_4380.obj

voxel_grid_V_30-01_growth_agent_\+_weights/voxel_grid_V_27-01_growth_agent_\+_weights/Context/Buildings/9200_4370.obj

voxel_grid_V_30-01_growth_agent_\+_weights/voxel_grid_V_27-01_growth_agent_\+_weights/Context/Buildings/9200_4380.obj

voxel_grid_V_30-01_growth_agent_\+_weights/voxel_grid_V_27-01_growth_agent_\+_weights/Context/google_earth_site.png

voxel_grid_V_30-01_growth_agent_\+_weights/voxel_grid_V_27-01_growth_agent_\+_weights/Context/Vegetation/9100_4380.obj

voxel_grid_V_30-01_growth_agent_\+_weights/voxel_grid_V_27-01_growth_agent_\+_weights/Context/Vegetation/9200_4370.obj

voxel_grid_V_30-01_growth_agent_\+_weights/voxel_grid_V_27-01_growth_agent_\+_weights/Context/Vegetation/9200_4380.obj

voxel_grid_V_30-01_growth_agent_\+_weights/voxel_grid_V_27-01_growth_agent_\+_weights/CSV/analysis_weighing_extreme_1_high.csv

voxel_grid_V_30-01_growth_agent_\+_weights/voxel_grid_V_27-01_growth_agent_\+_weights/CSV/analysis_weighing_extreme_2_low.csv

voxel_grid_V_30-01_growth_agent_\+_weights/voxel_grid_V_27-01_growth_agent_\+_weights/CSV/analysis_weighing.csv

voxel_grid_V_30-01_growth_agent_\+_weights/voxel_grid_V_27-01_growth_agent_\+_weights/CSV/function_info.csv

voxel_grid_V_30-01_growth_agent_\+_weights/voxel_grid_V_27-01_growth_agent_\+_weights/CSV/function_info.xlsx

voxel_grid_V_30-01_growth_agent_\+_weights/voxel_grid_V_27-01_growth_agent_\+_weights/CSV/function_info2.csv

voxel_grid_V_30-01_growth_agent_\+_weights/voxel_grid_V_27-01_growth_agent_\+_weights/CSV/function_relation_strength.csv

voxel_grid_V_30-01_growth_agent_\+_weights/voxel_grid_V_27-01_growth_agent_\+_weights/CSV/README.txt

voxel_grid_V_30-01_growth_agent_\+_weights/voxel_grid_V_27-01_growth_agent_\+_weights/CSV/spatial_configuration_old.csv

voxel_grid_V_30-01_growth_agent_\+_weights/voxel_grid_V_27-01_growth_agent_\+_weights/CSV/spatial_configuration_ours.csv

voxel_grid_V_30-01_growth_agent_\+_weights/voxel_grid_V_27-01_growth_agent_\+_weights/CSV/spatial_configuration.csv

voxel_grid_V_30-01_growth_agent_\+_weights/voxel_grid_V_27-01_growth_agent_\+_weights/EntranceValues2.csv

voxel_grid_V_30-01_growth_agent_\+_weights/voxel_grid_V_27-01_growth_agent_\+_weights/locatie rhino v2.obj

voxel_grid_V_30-01_growth_agent_\+_weights/voxel_grid_V_27-01_growth_agent_\+_weights/locatie rhino.obj

voxel_grid_V_30-01_growth_agent_\+_weights/voxel_grid_V_27-01_growth_agent_\+_weights/SunEarthTools_AnnualSunPath_2022_1670882506493 (1).csv

voxel_grid_V_30-01_growth_agent_\+_weights/voxel_grid_V_27-01_growth_agent_\+_weights/voxel_grid_V_27-01_growth_agent_&_sun_envelope.hipnc

voxel_grid_V_30-01_growth_agent_\+_weights/voxel_grid_V_27-01_growth_agent_\+_weights/weights.csv

*.hipnc
